
<div class="container my-4">
  <div class="d-flex justify-content-center">
    <div class="btn-group">
      <a routerLink="/dashboard/process/expenses/new" class="btn btn-outline-primary active" aria-current="page">
        <i class="bi bi-plus-circle me-2"></i>New Expense
      </a>
      <a routerLink="/dashboard/process/expenses/find" class="btn btn-outline-primary">
        <i class="bi bi-search me-2"></i>Find Expense By Id
      </a>
      <a routerLink="/dashboard/process/expenses/update" class="btn btn-outline-primary">
        <i class="bi bi-pencil-square me-2"></i>Update Expense
      </a>
      <a routerLink="/dashboard/process/expenses/list" class="btn btn-outline-primary">
        <i class="bi bi-list-check me-2"></i>Load All
      </a>
    </div>
  </div>
</div>
<hr>

<router-outlet></router-outlet>
