<form [formGroup]="expensesDataForm" (ngSubmit)="update()">
  <div class="container py-4">
    <div class="row g-3">
      <div class="col-md-3">
        <div class="form-group">
          <label for="id" class="form-label">ID</label>
          <input (keyup.enter)="findData()" type="text" id="id" class="form-control" formControlName="id" placeholder="Enter ID">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="title" class="form-label">Title</label>
          <input type="text" id="title" class="form-control" formControlName="title" placeholder="Enter title">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description" placeholder="Enter description">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="cost" class="form-label">Cost</label>
          <input type="text" id="cost" class="form-control" formControlName="cost" placeholder="Enter cost">
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-center mt-4">
          <button class="btn btn-primary col-md-4" [disabled]="expensesDataForm?.invalid" type="submit">
            Update Expenses Data
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
